body {
    margin: 0;
    background: #1B244A;
    text-align: center;
}

.team-header {
    color: #EEEEEE;
    font-size: 40px;
    margin: 70px 0 20px 0;
}

.score {
    background: #080001;
    color: #F94F6D;
    font-size: 90px;
    line-height: 130px;
    margin: 20px 0 25px 0;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL', sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
}

.btn {
    background: none;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding: 8px 10px;
}
